#map.large {
    position: fixed;
    height: calc(100% - 64px);
    width: calc(100% - 300px);
}
#map.small {
    position: fixed;
    height: calc(100% - 64px);
    width: calc(100% - 900px);
}
#map {
    position: fixed;
    height: 100%;
    width: 100%;
    /* height: calc(100% - 64px);
    width: calc(100% - 300px); */
}
