<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav"
    fixedInViewport="true"
    mode="side"
    opened="true">
    <mat-toolbar color="accent">
      <button mat-button [matMenuTriggerFor]="filterMenu">
        <mat-icon>filter_list</mat-icon>
        <span>&nbsp;{{ filter$ | async }}</span>
      </button>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item (click)="filter.next('Tables')">
          <mat-icon *ngIf="(filter$ | async) === 'Tables'">checked</mat-icon>
          <mat-icon *ngIf="(filter$ | async) !== 'Tables'"></mat-icon>
          <span>Tables</span>
        </button>
        <button mat-menu-item (click)="filter.next('Views')">
          <mat-icon *ngIf="(filter$ | async) === 'Views'">checked</mat-icon>
          <mat-icon *ngIf="(filter$ | async) !== 'Views'"></mat-icon>
          <span>Views</span>
        </button>
      </mat-menu>
      <span class="fill-space"></span>
      <button mat-icon-button [disabled]="!dbInitialized" (click)="refreshItems()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="(filter$ | async) === 'Tables'">
          <a mat-list-item *ngFor="let table of tables"(click)="item.next(table)">{{ table }}</a>
      </ng-container>
      <ng-container *ngIf="(filter$ | async) === 'Views'">
        <a mat-list-item *ngFor="let view of views" (click)="item.next(view)">{{ view }}</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button>
        <a class="mat-toolbar mat-primary" style="text-decoration: none" target="_blank" href="https://github.com/jvail/spatiasql.js">SpatiaSQL.js</a>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button *ngIf="dbInitialized && !dbIsBusy; else spinner" (click)="showVersion()">
        <mat-icon>info</mat-icon>
      </button>
      <ng-template #spinner>
        <mat-spinner color="accent" [diameter]=22></mat-spinner>
      </ng-template>
      <mat-menu #menu="matMenu">
        <input #inputsqlite3 type="file" (change)="addFile('sqlite3', $event.target.files)" hidden>
        <input #inputshp type="file" (change)="addFile('shp', $event.target.files)" hidden [multiple]="true">
        <button mat-menu-item (click)="inputsqlite3.click()" [disabled]="!dbInitialized">
          <mat-icon>arrow_upward</mat-icon>
          <span>Load SpatiaLite DB</span>
        </button>
        <button mat-menu-item (click)="inputshp.click()" [disabled]="!dbInitialized">
          <mat-icon>arrow_upward</mat-icon>
          <span>Load Shapefile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="export()" [disabled]="!dbInitialized">
          <mat-icon>arrow_downward</mat-icon>
          <span>Export DB</span>
        </button>
      </mat-menu>
      <span class="fill-space"></span>
      <button mat-icon-button (click)="sidenavdata.toggle()">
        <mat-icon>{{ sidenavdataOpened ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      </button>
    </mat-toolbar>
    <app-map></app-map>
  </mat-sidenav-content>
  <mat-sidenav
    id="sidenavdata"
    (openedChange)="onSidenavOpened($event)"
    (closedStart)="onSidenavClosedStart()"
    fixedInViewport="true"
    position="end"
    #sidenavdata
    mode="side"
    opened="false">
    <mat-toolbar color="accent">
      <span class="fill-space"></span>
      <button mat-icon-button [disabled]="!dbInitialized" (click)="runQuery()">
        <mat-icon>play_circle_filled_white</mat-icon>
      </button>
      <!-- <button mat-button (click)="showDataTable = !showDataTable">
        <mat-icon>{{ showDataTable ? 'list' : 'create' }}</mat-icon>
        <span>&nbsp;{{ showDataTable ? 'Data' : 'SQL' }}</span>
      </button> -->
    </mat-toolbar>
    <!-- <app-editor #appeditor [hidden]="!showDataTable"></app-editor>
    <app-data [hidden]="showDataTable"></app-data> -->
    <split direction="vertical" [gutterSize]="5">
      <split-area size="30">
        <app-editor #appeditor></app-editor>
      </split-area>
      <split-area size="70">
        <app-data></app-data>
      </split-area>
    </split>

  </mat-sidenav>
</mat-sidenav-container>
