<mat-paginator #paginator
  [length]="dataSource.data.values.length"
  [pageIndex]="0"
  [pageSize]="100"
  [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
<div class="data-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let row">{{ isObject(row[i]) ? 'blob' : row[i] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

